{% extends "base.html" %}

{% load static %}

{% block title %}{{ event.name }}{% endblock %}
{% block description %}Outtur.com wydarzenie {{ event.name }}. {{ event.short_description|truncatechars:160 }}{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v21.0&appId=1766955874049180"></script>

<div class="container my-5 bg-white shadow-sm p-4 rounded">
    <!-- Nagłówek z nazwą wydarzenia -->
    <div class="row align-items-center mb-4">
        <div class="col-xl-10">
            <h1 class="text-dark fw-bold fs-3">{{ event.name }}</h1>
        </div>
        <div class="col-xl-2 text-end">
            <div class="d-flex justify-content-end align-items-center">
                <span id="likes-count-{{ event.id }}" class="me-2">{{ event.likes_count }}</span>
                {% if user.is_authenticated %}
                    <!-- Ikona do polubienia wydarzenia -->
                    <i class="fa fa-heart{% if event.is_liked %} text-danger{% else %} text-dark{% endif %}" 
                    data-event-id="{{ event.id }}" 
                    data-add-like-url="{% url 'events:add_like_event' event_id=event.id %}"
                    style="cursor: pointer;"
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top" 
                    title="{% if event.is_liked %}Kliknij, aby usunąć polubienie{% else %}Kliknij, aby polubić{% endif %}"
                    onclick="toggleLike(this)"></i>
                {% else %}
                    <!-- Ikona z chmurką informującą o konieczności zalogowania -->
                    <i class="fa fa-heart text-dark" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top" 
                    title="Zaloguj się, aby polubić wydarzenie" 
                    style="cursor: not-allowed;"></i>
                {% endif %}

                <span id="users-count-{{ event.id }}" class="ms-4">{{ event.users_count }}</span>
                {% if user.is_authenticated %}
                    <!-- Ikona do dodania użytkownika do wydarzenia -->
                    <i class="fa-solid add-user-to-event fa-users text-dark fs-5" 
                        data-event-id="{{ event.id }}" 
                        data-add-user-url="{% url 'events:add_user_to_event' event_id=event.id %}"
                        style="cursor: pointer;"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Kliknij, aby dołączyć do wydarzenia"
                        onclick="addUserToEvent(this)"
                        ></i>
                {% else %}
                    <!-- Ikona z chmurką informującą o konieczności zalogowania -->
                    <i class="fa-solid fa-users text-dark fs-5" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Zaloguj się, aby dołączyć do wydarzenia" 
                        style="cursor: not-allowed;"></i>
                {% endif %}

                <div class="ms-3">
                    <div class="fb-share-button" 
                        data-href="{{ request.build_absolute_uri }}" 
                        data-layout="button" 
                        data-size="small">
                        <a target="_blank" 
                            href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" 
                            class="fb-xfbml-parse-ignore">
                            Udostępnij
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Główna sekcja wydarzenia -->
    <div class="row">
        <!-- Zdjęcie główne -->
        <div class="col-12 mb-4">
            {% if event.main_image %}
                <img src="{{ event.main_image.url }}" class="img-fluid rounded shadow" alt="{{ event.name }}">
            {% else %}
                <img src="{% static 'images/placeholder.jpg' %}" class="img-fluid rounded shadow" alt="Placeholder">
            {% endif %}
        </div>

        <!-- Szczegóły wydarzenia -->
        <div class="col-lg-12 d-flex flex-wrap justify-content-between align-items-center">
            <div class="col-12 p-0 m-0 d-flex">
                <p class="">{{ event.address }}</p>
                {% if event.location %}
                    <a href="{% url 'events:event_map' slug=event.slug pk=event.id %}" class="ms-2 card-text map-link text-dark text-decoration-underline">mapa</a>
                {% endif %}
            </div>
            <div class="col-xl-5 p-0 m-0 d-flex">
                <strong>Dodane przez:&nbsp;{{ event.get_added_by_display }}:&nbsp;</strong> 
                <a href="#" class="text-dark text-decoration-underline">
                    {% if event.created_by.first_name %}
                        {{ event.created_by.first_name }}{% else %}anominowy
                    {% endif %}
                </a>
            </div>
            <p class="col-xl-5 p-0 m-0 text-end">Data wydarzenia:&nbsp;{{ event.date_info }}</p>

            <!-- Opis wydarzenia -->
            <div class="row mt-4 col-12">
                <div class="col-12">
                    <h3 class="fw-bold mb-3">W skrócie</h3>
                    <p>{{ event.short_description|linebreaks }}</p>
                </div>
            </div>

            <!-- Opis wydarzenia -->
            <div class="row mt-4">
                <div class="col-12">
                    <h3 class="fw-bold mb-3">Opis wydarzenia</h3>
                    <p>{{ event.description|linebreaks }}</p>
                </div>
            </div>

            <p class="col-12 mt-4">
                <strong>Szczegóły:</strong>
            </p>
            <p class="col-12 p-0 m-0">Kontakt:&nbsp;<a href="mailto:{{ event.contact_email }}" class="text-dark">{{ event.contact_email }}</a></p>
            {% if event.website %}
                <p class="col-12 p-0 m-0">Strona:&nbsp;<a href="{{ event.website }}" target="_blank" class="text-dark">{{ event.website }}</a></p>
            {% endif %}
            <p class="col-12 p-0 m-0">Wstęp:&nbsp;{{ event.get_entry_type_display }}</p>
            <p class="col-12 p-0 m-0">Rodzaj:&nbsp;{% for category in event.categories.all %}<span>{{ category.name }}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}</p>
            <p class="col-12 p-0 m-0">Cykl imprezy:&nbsp;{{ event.get_event_type_display }}</p>
        </div>
    </div>

    {% if event.gallery_images %}
    <!-- Galeria zdjęć -->
    <div class="row my-5">
        <div class="col-12">
            <h3 class="fw-bold mb-3">Galeria</h3>
        </div>
        {% for image in event.gallery_images %}
            {% if image %}
                <div class="col-md-3 mb-3">
                    <img src="{{ image.url }}" class="img-fluid rounded shadow" alt="Zdjęcie galerii">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Przycisk zgłaszania nadużycia -->
<div class="row my-5">
    <div class="col-12 text-start">
        {% if user.is_authenticated %}
            <!-- Pokazuje formularz tylko jeśli użytkownik jest zalogowany -->
            <button type="button" class="btn btn-primary btn-lg rounded-pill" id="toggle-form">
                Zgłoś nadużycie
            </button>
        {% else %}
            <!-- Przycisk z tooltipem dla niezalogowanego użytkownika -->
            <a href="#" 
               class="btn btn-primary btn-lg rounded-pill" 
               data-bs-toggle="tooltip" 
               data-bs-placement="top" 
               title="Aby zgłosić nadużycie, musisz być zalogowany">
                Zgłoś nadużycie
            </a>
        {% endif %}
    </div>
</div>

<!-- Formularz zgłaszania nadużycia -->
{% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data" id="event-form" style="display: none;">
        {% csrf_token %}
        <!-- Nazwa i krótki opis -->
        <div class="row g-3 mb-3">
            <div class="col-xl-6 col-12">
                <label for="{{ form.title.id_for_label }}" class="form-label col-12">
                    {{ form.title.label }}
                </label>
                <input type="text" 
                       id="{{ form.title.id_for_label }}" 
                       name="{{ form.title.html_name }}" 
                       class="form-control" 
                       value="{{ form.title.value|default_if_none:'' }}" 
                       placeholder="{{ form.title.field.widget.attrs.placeholder|default:'Podaj nazwę wydarzenia' }}" 
                       maxlength="{{ form.title.field.max_length }}" 
                       {% if form.title.field.required %}required{% endif %}>
                {% if form.title.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.title.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Pole: Krótki opis wydarzenia -->
            <div class="col-12">
                <label for="{{ form.description.id_for_label }}" class="form-label col-12">
                    {{ form.description.label }}
                </label>
                <textarea id="{{ form.description.id_for_label }}" 
                        name="{{ form.description.html_name }}" 
                        class="form-control" 
                        placeholder="{{ form.description.field.widget.attrs.placeholder|default:'Podaj krótki opis wydarzenia' }}" 
                        maxlength="{{ form.description.field.max_length }}" 
                        rows="3" 
                        {% if form.description.field.required %}required{% endif %}>{{ form.description.value|default_if_none:'' }}</textarea>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-between align-items-middle">
            <button type="submit" class="btn rounded-20 btn-primary">Wyślij</button>
            <button type="button" class="btn rounded-20 bg-orange text-white">Anuluj</button>
        </div>
    </form>
{% endif %}
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/event_details.js' %}"></script>
    <script src="{% static 'js/user_actions.js' %}"></script>
{% endblock %}