{% extends "home/base.html" %}

{% load static %}

{% block title %}Outtur.com Lista wydarzeń{% endblock %}
{% block description %}Outtur.com Lista wydarzeń{% endblock %}

{% block home_main %}
<!-- Lista wydarzeń -->
<div class="event_listing col-12 d-flex justify-content-start align-items-start flex-wrap">
    {% include "events/includes/event_listing.html" %}
    <div id="map" style="width: 100%;">
        {{ map_html|safe }}
    </div>
</div>
{% endblock %}

{% block pagination %}
<!-- Paginacja -->
<div class="pagination-container col-12 d-flex justify-content-center align-items-start">
    {% include "utils/pagination.html" %}
</div>
{% endblock %}

{% block home_js %}
    <script src="{% static 'js/filters_events.js' %}"></script>
    <script src="{% static 'js/user_actions.js' %}"></script>
{% endblock %}