{% extends "home/base.html" %}

{% load static %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}

{% block home_main %}
<!-- Lista wydarzeń -->
<div class="event_listing col-12 d-flex justify-content-start align-items-start flex-wrap">
    <a class="col-12" href="{% url 'events:events_list' %}">Lista wydarzeń</a>
    <a class="col-12" href="{% url 'events:events_map' %}">Mapa wydarzeń</a>
</div>
{% endblock %}

{% block pagination %}
<!-- Paginacja -->
<div class="pagination-container col-12 d-flex justify-content-center align-items-start">
    {% include "utils/pagination.html" %}
</div>
{% endblock %}

{% block home_js %}
    <script src="{% static 'js/filters_events.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
{% endblock %}