{% extends "base.html" %}


{% block content %}
<div class="container mt-2 p-0 m-0">
    <div class="d-flex">
        <div class="col-12 d-flex justify-content-start align-items-start flex-wrap p-0 m-0 mx-auto mt-2">
            {% for event in events %}
            <a href="{% url 'home:event_details' pk=event.id %}" class="col-12 d-flex justify-content-start align-items-start flex-wrap p-0 m-0 mx-auto mt-2 rounded-20">
                <div class="w-100 bg-white rounded-20">
                    <div class="card-body">
                        <h6 class="card-title">{{ event.name }}</h6>
                        <p class="card-text">{{ event.short_description }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
