{% extends "home/base.html" %}


{% block side_bar %}
<!-- Lewa kolumna - Menu kategorii -->
<div class="d-none d-xl-flex col-xl-2">
    <div class="d-xl-flex col-12 justify-content-start align-items-start flex-column border-end p-0 m-0 bg-white">
        <span class="col-12 p-2">Wydarzenia w których uczestniczę</span>
    </div>
</div>
{% endblock %}

{% block home_main %}
    <!-- Lista wydarzeń -->
    <div class="event_listing col-12 d-flex justify-content-start align-items-start flex-wrap">
        {% include "events/includes/event_listing.html" %}
    </div>
{% endblock %}
