{% load query_transform %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v21.0&appId=1766955874049180"></script>

{% for event in events %}
    <div class="card event-item w-100 d-flex flex-row bg-white shadow-sm border-0 mb-3">
        <!-- Tekst -->
        <div class="card-body col-12 d-flex flex-column">
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <a href="{% url 'events:event_details' pk=event.pk %}" class="card-title event-title col-9 text-dark fw-bold mb-2">
                    <h5 class="col-12">{{ event.name }}</h5>
                    <small class="col-12 text-dark text-muted">Dodano:&nbsp;{{ event.created_at }}</small>
                </a>
                <div class="col-3 d-flex justify-content-end align-items-center">
                    <span id="likes-count-{{ event.id }}" class="me-2">{{ event.likes_count }}</span>
                    {% if user.is_authenticated %}
                        <!-- Ikona do polubienia wydarzenia -->
                        <i class="fa fa-heart{% if event.is_liked %} text-danger{% else %} text-dark{% endif %} me-2" 
                        data-event-id="{{ event.id }}" 
                        style="cursor: pointer;"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="{% if event.is_liked %}Kliknij, aby usunąć polubienie{% else %}Kliknij, aby polubić{% endif %}"
                        onclick="toggleLike(this)"></i>
                    {% else %}
                        <!-- Ikona z chmurką informującą o konieczności zalogowania -->
                        <i class="fa fa-heart text-dark me-2" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Zaloguj się, aby polubić wydarzenie" 
                        style="cursor: not-allowed;"></i>
                    {% endif %}
                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Udostępnij</a></div>
                </div>
            </div>
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <p class="col-12 col-xl-8 text-dark mb-2">{{ event.postal_code }}, {{ event.city }}, {{ event.street }}&nbsp;{{ event.house_number }}{% if event.apartment_number %}{{ event.apartment_number }}{% endif %}</p>
                <div class="col-12 col-xl-3 d-flex justify-content-end align-items-center">
                    {% if event.event_type == 'one_day' %}
                    <span>{{ event.one_day_date }}</span>
                    {% elif event.event_type == 'is_multi_day' %}
                        <span>{{ event.start_date }}&nbsp;-&nbsp;{{ event.end_date  }}</span>
                    {% else %}
                        <div class="event-days col-12">
                            {{ event.get_day_of_week_display }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between align-items-start mt-2">
                <p class="col-12 mt-2 mb-1">Rodzaj:&nbsp;{% for category in event.categories.all %}<span>{{ category.name }}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}</p>
                <p class="col-12 mt-2 mb-1 fw-bold">Opis</p>
                <p class="col-card-text text-dark {% if event.main_image %}col-12 col-xl-8{% else %}col-12{% endif %} pe-2">{{ event.short_description|truncatechars:550 }}</p>
                {% if event.main_image %}
                    <!-- Zdjęcie -->
                    <div class="col-12 col-xl-4 p-0">
                            <img src="{{ event.main_image.url }}" alt="{{ event.name }}" class="w-100 h-100 object-fit-cover" style="aspect-ratio: 4/3; object-fit: cover;">
                    </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between align-items-middle mt-2">
                <div class="col-6 text-left">
                    {% if event.location %}
                        <a href="{% url 'events:event_map' pk=event.id %}" class="card-text map-link text-dark text-decoration-underline">mapa</a>
                    {% else %}
                        <span class="card-text text-dark">brak lokalizacji</span>
                    {% endif %}
                </div>
                <div class="col-6 text-end">
                    <span id="users-count-{{ event.id }}">{{ event.users_count }}</span>
                    {% if user.is_authenticated %}
                        <!-- Ikona do dodania użytkownika do wydarzenia -->
                        <i class="fa-solid add-user-to-event fa-users text-dark fs-5" 
                            data-event-id="{{ event.id }}" 
                            style="cursor: pointer;"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="Kliknij, aby dołączyć do wydarzenia"
                            onclick="addUserToEvent(this)"
                            ></i>
                    {% else %}
                        <!-- Ikona z chmurką informującą o konieczności zalogowania -->
                        <i class="fa-solid fa-users text-dark fs-5" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="Zaloguj się, aby dołączyć do wydarzenia" 
                            style="cursor: not-allowed;"></i>
                    {% endif %}
                </div>
            </div>
            {% if request.resolver_match.url_name == 'user_events' %}
            <div class="col-12 d-flex align-items-middle justify-content-between mt-5">
                <a href="{% url 'cms:update_event' pk=event.pk %}" class="btn rounded-20 bg-orange text-white">Edytuj</a>
                <button type="button" class="btn rounded-20 bg-orange text-white" data-bs-toggle="modal" data-bs-target="#messageModal_{{ event.id }}">
                    Wyślij wiadomość
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    {% if form %}
        <!-- Modal -->
        <div class="modal fade" id="messageModal_{{ event.id }}" tabindex="-1" aria-labelledby="messageModalLabel_{{ event.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageModalLabel_{{ event.id }}">{{ event.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'profile:send_message' event_id=event.id %}" method="post" class="col-12">
                            {% csrf_token %}
                            <input type="hidden" name="event" id="id_event" value="{{ event.id }}">
                            <input type="hidden" name="user" id="id_user" value="{{ request.user.id }}">
                            <textarea id="{{ form.message.id_for_label }}" 
                                    name="{{ form.message.html_name }}" 
                                    class="form-control" 
                                    placeholder="{{ form.message.field.widget.attrs.placeholder|default:'Podaj wiadomość dla wydarzenia' }}" 
                                    maxlength="{{ form.message.field.max_length }}" 
                                    rows="3" 
                                    {% if form.message.field.required %}required{% endif %}>{{ form.description.value|default_if_none:'' }}</textarea>
                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn rounded-20 bg-orange text-white me-2">Wyślij</button>
                                <button type="button" class="btn btn-secondary rounded-20" data-bs-dismiss="modal">Anuluj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if request.resolver_match.url_name == 'user_events' %}
        {% include 'events/includes/event_messages.html' with events_messages=event.messages.all %}
    {% endif %}
{% endfor %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const showFormButton = document.getElementById("show-message-form");
        const hideFormButton = document.getElementById("hide-message-form");
        const messageFormContainer = document.getElementById("message-form-container");

        // Pokaż formularz po kliknięciu przycisku "Wyślij wiadomość"
        if (showFormButton && messageFormContainer) {
            showFormButton.addEventListener("click", () => {
                messageFormContainer.style.display = "block";
            });
        }

        // Ukryj formularz po kliknięciu przycisku "Anuluj"
        if (hideFormButton && messageFormContainer) {
            hideFormButton.addEventListener("click", () => {
                messageFormContainer.style.display = "none";
            });
        }
    });
</script>
