<!DOCTYPE html>
{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    
    <title>
        {% block title %}
            Outtur.com Portal z wydarzeniami w Twojej okolicy
        {% endblock %}
    </title>
    <meta name="description" content="{% block description %}Outtur.com Portal z wydarzeniami w Twojej okolicy{% endblock %}">

    <!-- Blok na dodatkowe meta tagi -->
    {% block meta %}
    {% endblock %}

    <!-- Blok na style CSS -->
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/utils.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %}">
    {% endblock %}
</head>
<body>

    {% block modal %}
    {% endblock %}
    <!-- Modal -->
    <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="locationModalLabel">Wybierz lokalizację</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
                </div>
                <div class="modal-body">
                    <div id="map" style="height: 400px; width: 100%;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="button" id="save-location" class="btn btn-primary">Zapisz lokalizację</button>
                </div>
            </div>
        </div>
    </div>
    
    {% block message %}
        {% if messages %}
            <div id="message_django" class="fixed-top w-100 d-flex justify-content-center align-items-center">
                {% for message in messages %}
                    <div class="{% if 'error' in message.tags %}bg-danger text-white{% endif %} alert alert-{{ message.tags }} alert-dismissible fade show text-center col-10 col-xl-4 mx-auto" role="alert">
                        <span>{{ message|safe }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    <header>
        <!-- Blok na nagłówki -->
        {% block header %}
            {% include "headers/base.html" %}
        {% endblock %}
    </header>

    <main>
        <div class="mx-auto w-100 d-flex justify-content-center flex-wrap align-items-center px-3 py-2">
            {% block content %}
            {% endblock %}
        </div>
    </main>


    
    <footer>
        <!-- Blok na stopkę -->
        {% block footer %}
        <div class="container-fluid border-top border-2 border-dark mt-5">
            <div class="row container mx-auto d-flex align-items-start">
                <div class="col-6 col-xl-2 d-flex align-items-center">
                    <a href="{% url 'events:events_list' %}" class="text-decoration-none">
                        <p class="logo text-danger p-0 m-0 fs-2 fw-bold">Outtur</p>
                    </a>
                </div>
                <div class="col-6 col-xl-10 d-flex flex-wrap justify-content-center align-items-center">
                    <a href="" class="mt-2 text-dark col-12">Regulamin serwisu</a>
                    <a href="" class="mt-2 text-dark col-12">Polityka prywatności (RODO)</a>
                    <a href="" class="mt-2 text-dark col-12">Załóż konto</a>
                    <a href="" class="mt-2 text-dark col-12">Kontakt</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src={% static 'js/set_user_location.js' %}></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const alerts = document.querySelectorAll('#message_django .alert');
    
            alerts.forEach(alert => {
                setTimeout(() => {
                    alert.classList.remove('show');
                    alert.classList.add('fade');
                    
                    setTimeout(() => {
                        alert.remove();
                    }, 150);
                }, 1200);
            });
        });
    </script>
    <!-- Blok na skrypty JavaScript -->
    {% block js %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>
