{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
{% endblock %}

{% block header %}
<div class="header-container bg-white mx-auto container d-flex flex-wrap align-items-center px-3 py-2">
    <!-- Logo -->
    <div class="col-6 col-xl-3 d-flex align-items-center">
        <a href="{% url 'events:events_list' %}" class="text-decoration-none">
            <p class="logo text-danger p-0 m-0 fs-2 fw-bold">Outtur</p>
            <small class="logo-subtitle text-dark">Wydarzenia w Twojej okolicy</small>
        </a>
    </div>

    <!-- Wyszukiwarka -->
    <div class="d-none col-xl-6 d-xl-flex justify-content-center align-items-center">
        {% if search_form_on %}
            {% include "home/forms/search_form.html" with form_classes="w-100 d-flex align-items-center" input_classes="me-2" select_classes="me-2" button_classes="" %}
        {% endif %}
    </div>

    <!-- Przyciski użytkownika -->
    <div class="d-none col-xl-3 d-xl-flex justify-content-end align-items-center">
        <div class="dropdown me-2">
            {% if request.resolver_match.url_name == 'events_map' %}
                <a href="{% url 'events:events_list' %}?{{ request.GET.urlencode }}" class="btn btn-light rounded-20">Lista</a>
            {% endif %}
            {% if request.resolver_match.url_name == 'events_list' %}
                <a href="{% url 'events:events_map' %}?{{ request.GET.urlencode }}" class="btn btn-light rounded-20">Mapa</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <button class="btn btn-primary dropdown-toggle rounded-20" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item fw-bold" href="{% url 'cms:create_event' %}">Dodaj wydarznie</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'profile:update_profile' %}" class="dropdown-item text-dark mt-2 {% if request.resolver_match.url_name == 'update_profile' %}fw-bolder{% endif %}">Moje konto</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-dark mt-2 {% if request.resolver_match.url_name == 'user_event_messages' %}fw-bolder{% endif %}" href="{% url 'profile:user_event_messages' %}">Wiadomości</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-dark mt-2 {% if request.resolver_match.url_name == 'user_events_joined' %}fw-bolder{% endif %}" href="{% url 'profile:user_events_joined' %}">Wydarzenia w których uczestniczę</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-dark mt-2 {% if request.resolver_match.url_name == 'user_events' %}fw-bolder{% endif %}" href="{% url 'profile:user_events' %}">Wydarzenia dodane</a>
                    </li>
                    <li><a class="dropdown-item mt-5" href="#">Zapomnij o mnie</a></li>
                    <li><a class="dropdown-item" href="{% url 'auth:logout' %}">Wyloguj</a></li>
                </ul>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'auth:logout' %}" class="btn btn-danger rounded-20">Wyloguj</a>
        {% else %}
            <a href="{% url 'auth:login' %}" class="btn btn-primary rounded-20 d-flex justify-content-center align-items-center flex-wrap p-0 m-0 me-2">
                <span class="col-12 text-center">Dodaj wydarznie</span>
                <small class="col-12 text-center">Zawsze bezpłatnie</small>
            </a>
            <a href="{% url 'auth:login' %}" class="btn btn-outline rounded-20">Zaloguj</a>
        {% endif %}
    </div>

    <!-- Hamburger menu na mobile -->
    <div class="d-flex d-xl-none col-6 justify-content-end align-items-center pb-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <!-- Mobile menu -->
    <div id="mobileMenu" class="collapse w-100 d-xl-none mb-2">
        {% if request.user.is_authenticated %}
        <ul class="list-group">
            <li class="list-group-item p-2">
                <a href="{% url 'cms:create_event' %}" class="text-dark p-3 mt-2 mb-2 {% if request.resolver_match.url_name == 'create_event' %}fw-bolder{% endif %}">Dodaj wydarznie</a>
            </li>
            <li class="list-group-item p-2">
                <a href="{% url 'profile:update_profile' %}" class="text-dark p-3 mt-2 mb-2 {% if request.resolver_match.url_name == 'update_profile' %}fw-bolder{% endif %}">Moje konto</a>
            </li>
            <li class="list-group-item p-2">
                <a href="{% url 'profile:user_event_messages' %}" class="text-dark p-3 mt-2 mb-2 {% if request.resolver_match.url_name == 'user_event_messages' %}fw-bolder{% endif %}">Wiadomości</a>
            </li>
            <li class="list-group-item p-2">
                <a href="{% url 'profile:user_events_joined' %}" class="text-dark p-3 mt-2 mb-2 {% if request.resolver_match.url_name == 'user_events_joined' %}fw-bolder{% endif %}">Wydarzenia w których uczestniczę</a>
            </li>
            <li class="list-group-item mb-5 p-2">
                <a href="{% url 'profile:user_events' %}" class="text-dark p-3 mt-2 mb-2 {% if request.resolver_match.url_name == 'user_events' %}fw-bolder{% endif %}">Wydarzenia dodane</a></li>
            <li class="list-group-item mt-5"><a href="#" class="dropdown-item">Zapomnij o mnie</a></li>
        </ul>
        {% endif %}
        <ul class="list-group">
            <li class="list-group-item">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}" class="dropdown-item">Wyloguj</a>
                {% else %}
                    <a href="{% url 'auth:login' %}" class="col-6 btn btn-primary rounded-20 d-flex justify-content-center align-items-center flex-wrap p-0 m-0 mb-2">
                        <span class="col-12 text-center">Dodaj wydarznie</span>
                        <small class="col-12 text-center">Zawsze bezpłatnie</small>
                    </a>
                    <a href="{% url 'auth:login' %}" class="dropdown-item">Zaloguj</a>
                {% endif %}
            </li>
        </ul>
    </div>
    
    <span class="border-bottom-line w-100"></span>


   <!-- Wyszukiwarka na mobile -->
    <div class="col-12 d-xl-none justify-content-center align-items-center mt-2">
        {% if search_form_on %}
            {% include "home/forms/search_form.html" with form_classes="w-100 d-flex flex-column align-items-center" input_classes="mb-2" select_classes="mb-2 w-100" button_classes="w-100" %}
        {% endif %}
    </div>
</div>

{% if search_form_on %}
    <!-- Przycisk Filtry na mobile -->
    <div class="d-flex d-xl-none container justify-content-between align-items-center px-3 bg-white">
        <button class="btn btn-light mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filtersMenuMobile" aria-expanded="false" aria-controls="filtersMenuMobile">
            Filtry
        </button>
        {% if request.resolver_match.url_name == 'events_map' %}
                <a href="{% url 'events:events_list' %}?{{ request.GET.urlencode }}" class="btn btn-light rounded-20">Lista</a>
        {% endif %}
        {% if request.resolver_match.url_name == 'events_list' %}
            <a href="{% url 'events:events_map' %}?{{ request.GET.urlencode }}" class="btn btn-light rounded-20">Mapa</a>
        {% endif %}
    </div>

    <!-- Ukryte menu filtrów (otwiera się pod przyciskiem) -->
    <form id="filtersMenuMobile" 
        class="filters_form collapse bg-white container mx-auto" 
        action="{% if request.resolver_match.url_name == 'events_list' %}{% url 'events:ajax_filter_events' %}{% else %}{% url 'events:ajax_filter_events_map' %}{% endif %}"
        >
        <div class="container py-3">
            <div class="row">
                <!-- Lewa kolumna filtrów -->
                <div class="col-6 m-0 p-0">
                    <ul class="list-group col-12 mb-3 p-2">
                        <p class="fw-bold col-12 mt-2">{{ filter_form.date_filter.label }}</p>
                        <li class="list-group-item custom-list-group-item col-12">
                            <div class="form-check col-12 d-flex flex-wrap justify-content-start align-items-center">
                                <select 
                                    class="form-select col-12 me-2" 
                                    id="id_date_filter" 
                                    name="{{ filter_form.date_filter.html_name }}">
                                    {% for value, label in filter_form.date_filter.field.choices %}
                                        <option value="{{ value }}" 
                                            {% if value == request.session.event_filters.date_filter %} selected {% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                
                        <!-- Widoczna data, gdy użytkownik wybrał "Wybierz datę" -->
                        <li 
                            class="list-group-item custom-list-group-item col-12 mt-3" 
                            id="date-display-wrapper" 
                            {% if not request.session.event_filters.selected_date %}style="display: none;"{% endif %}>
                            <div class="d-flex justify-content-between align-items-center">
                                <p id="selected-date-text">
                                    Wybrana data: <br><span class="fw-semibold">{{ request.session.event_filters.selected_date }}</span>
                                </p>
                                <button 
                                    type="button" 
                                    id="change-date-button" 
                                    class="btn btn-secondary btn-sm ms-3">
                                    Zmień
                                </button>
                            </div>
                        </li>
                
                        <li class="list-group-item custom-list-group-item col-12 mt-3" id="date-picker-wrapper" style="display: none;">
                            <div class="form-check col-12 d-flex flex-wrap justify-content-start align-items-center">
                                <input 
                                    type="date" 
                                    id="id_selected_date" 
                                    name="{{ filter_form.selected_date.html_name }}" 
                                    class="form-control col-12"
                                    value="{% if request.session.event_filters.selected_date %}{{ request.session.event_filters.selected_date }}{% endif %}">
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group col-12 mb-3 p-2">
                        <p class="fw-bold col-12 mt-2">{{ filter_form.categories.label }}</p>
                        {% for value, label in filter_form.categories.field.choices %}
                            <li class="list-group-item custom-list-group-item col-12">
                                <div class="form-check col-12 d-flex flex-wrap justify-content-start align-items-center">
                                    <input 
                                        class="form-check-input me-2 col-2" 
                                        type="checkbox" 
                                        id="id_mobile_categories_{{ value }}" 
                                        name="{{ filter_form.categories.html_name }}" 
                                        value="{{ value }}"
                                        {% if value in request.session.event_filters.categories %} checked {% endif %}
                                    >
                                    <label 
                                        class="form-check-label col-10" 
                                        for="id_mobile_categories_{{ value }}">
                                        {{ label }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Prawa kolumna filtrów -->
                <div class="col-6 m-0 p-0">
                    <ul class="list-group col-12 mb-3 p-2">
                        <p class="fw-bold col-12 mt-2">{{ filter_form.location_type.label }}</p>
                        {% for value, label in filter_form.location_type.field.choices %}
                            <li class="list-group-item custom-list-group-item col-12">
                                <div class="form-check col-12 d-flex flex-wrap justify-content-start align-items-center">
                                    <input 
                                        class="col-2 form-check-input me-2 location-checkbox" 
                                        type="checkbox" 
                                        id="id_mobile_location_type_{{ value }}" 
                                        name="{{ filter_form.location_type.html_name }}" 
                                        value="{{ value }}"
                                        {% if value in request.session.event_filters.location_type %} checked {% endif %}
                                    >
                                    <label 
                                        class="col-10 form-check-label" 
                                        for="id_mobile_location_type_{{ value }}">
                                        {{ label }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <ul class="list-group col-12 mb-3 p-2">
                        <p class="fw-bold col-12 mt-2">{{ filter_form.entry_type.label }}</p>
                        {% for value, label in filter_form.entry_type.field.choices %}
                            <li class="list-group-item custom-list-group-item col-12">
                                <div class="form-check col-12 d-flex flex-wrap justify-content-start align-items-center">
                                    <input 
                                        class="col-2 form-check-input me-2 entry-checkbox" 
                                        type="checkbox" 
                                        id="id_mobile_entry_{{ value }}" 
                                        name="{{ filter_form.entry_type.html_name }}" 
                                        value="{{ value }}"
                                        {% if value == request.session.event_filters.entry_type %} checked {% endif %}
                                    >
                                    <label 
                                        class="col-10 form-check-label" 
                                        for="id_mobile_entry_{{ value }}">
                                        {{ label }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <ul class="list-group col-12 mb-3 p-2">
                        <p class="fw-bold col-12 mt-2">{{ filter_form.added_by.label }}</p>
                        {% for value, label in filter_form.added_by.field.choices %}
                            <li class="list-group-item custom-list-group-item col-12">
                                <div class="form-check col-12 d-flex flex-wrap justify-content-start align-items-center">
                                    <input 
                                        class="col-2 form-check-input me-2 added-by-checkbox" 
                                        type="checkbox" 
                                        id="id_mobile_added_by_{{ value }}" 
                                        name="{{ filter_form.added_by.html_name }}" 
                                        value="{{ value }}"
                                        {% if value == request.session.event_filters.added_by %} checked {% endif %}
                                    >
                                    <label 
                                        class="col-10 form-check-label" 
                                        for="id_mobile_added_by_{{ value }}">
                                        {{ label }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </form>
{% endif %}

{% endblock %}
